body {
    width: 100%;
    height: 100vh;
    background-color: black; 
    color: #e0e0e0; 
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

header {
    width: 85%;
    height: 95%;
    /*border: 1px solid #fff;*/
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu_side, .song_side {
    position: relative;
    width: 24%;
    height: 90%;
    /*border: 1px solid #fff; */
}

header .menu_side {
    background-color: #252525;
    border-radius: 1rem; 
    margin: 3px;
}

header .song_side {
    width: 75%;
    /* 
    background: linear-gradient(135deg, #A06EB1, #3C0E4B);
    */
    background: linear-gradient(135deg, #4b0082, #800080, #000000);
    border-radius: 1rem;
    margin: 3px;
}

header .master_play {
    width: 100%;
    height: 10%;
    background-color: black;
    box-shadow: 0px 4px 15px rgba(75, 0, 130, 0.5), 
                0px 0px 25px rgba(128, 0, 128, 0.4); 
}

header .menu_side h1 {
    font-size: 20px;
    margin: 15px 0 0 20px;
    font-weight: 500;
}

header .menu_side .playlist {
    margin: 40px 0 0 20px;
}

header .menu_side .playlist h4 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #8e8c8c;
    transition: .3s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
}

header .menu_side .playlist h4:hover{
    color: #fff;
}

header .menu_side .playlist h4 span{
    position: relative;
    margin-right: 35px;
}

header .menu_side .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 2px solid #4c5262;
    top: -4px;
    transition: .3s linear;
}

header .menu_side .playlist h4:hover span::before{
    border: 2px solid #fff;
}

header .menu_side .playlist h4 .bi{
    display: none;
}

header .menu_side .playlist .active{
    color: #b50fb5;
}

header .menu_side .playlist .active span{
    display: none;
}

header .menu_side .playlist .active .bi{
    display: flex;
    margin-right: 20px;
}

header .menu_side .menu_song {
    width: 100%;
    height: 350px;
    /*border: 1px solid #fff;*/
    margin-top: 40px;
    overflow: hidden;
    flex-grow: 1;
}

header .menu_side .menu_song:hover {
    overflow: auto;
}

header .menu_side .menu_song li{
    position: relative;
    list-style-type: none;
    padding: 5px 0 5px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s linear;
}

header .menu_side .menu_song li:hover {
    background: rgb(105, 105, 170, .1);
}

header .menu_side .menu_song li span{ 
    font-size: 13px;
    font-weight: 600;
    color: #8e8c8c;
}

header .menu_side .menu_song li img{ 
    width: 50px;
    height: 50px;
    margin-left: 25px;
    border-radius: 15%;
}

header .menu_side .menu_song li h5{ 
    font-size: 13px;
    margin-left: 15px;
}

header .menu_side .menu_song li h5 .subtitle{ 
    font-size: 11px;
    color: #8e8c8c;
}

header .menu_side .menu_song li .bi{ 
    position: absolute;
    right: 15px;
    top: 24px;
    font-size: 25px;
}

header .master_play {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

header .master_play .wave {
    width: 35px;
    height: 35px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

header .master_play .wave .wave1 {
    width: 4px;
    height: 18px;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    background: #800080;
    animation: unset;
}

header .master_play .wave .wave1:nth-child(2) {
    height: 20px;
    /*animation-delay: .4s;*/
}

header .master_play .wave .wave1:nth-child(3) {
    height: 14px;
    /*animation-delay: .8s;*/
}

/*js class wave*/
header .master_play .active2 .wave1 {
    animation: wave .5s linear infinite;
}

header .master_play .active2 .wave1:nth-child(2) {
    height: 16px;
    animation-delay: .4s;
}

header .master_play .active2 .wave1:nth-child(3) {
    height: 10px;
    animation-delay: .8s;
}

@keyframes wave {
    0% {
        height: 12px;
    }

    50% {
        height: 18px;
    }

    100% {
        height: 12px;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #252525;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #800080;
    border-radius: 10px;
    border: 2px solid #252525;
}

::-webkit-scrollbar-thumb:hover {
    background: #b50fb5;
}

header .master_play img {
    width: 60px;
    height: 60px;
    border-radius: 10%;
}

header .master_play h5 {
    width: 130px;
    font-size: 13px;
    margin-left: 15px;
    margin-bottom: 1%;
    color: #fff;
    line-height: 15px;
}

header .master_play h5 .subtitle{
    font-size: 12px;
    color: #8e8c8c;
}

header .master_play .icon {
    font-size: 25px;
    padding: 0px 20px 0px 50px;
    margin-top: 5px;

}

header .master_play .icon .bi {
    cursor: pointer;
    outline: none;
    margin: 0 5px;
}

header .master_play .icon .bi:nth-child(2) {
    font-size: 30px;
}

header .master_play span {
    color: #fff;
    width: 32px;
    font-size: 13px;
    font-weight: 400;
    padding-top: 10px;
}

header .master_play #currentStart {
    margin: 0px 0px 0px 20px;

}

header .master_play .bar {
    position: relative;
    width: 43%;
    height: 4px;
    background: rgb(105, 105, 170, .1);
    margin: 0px 15px 0px 10px;
    top: 5px;
}

header .master_play .bar .bar2 {
    position: absolute;
    background: #800080;
    width: 0%;
    height: 100%;
}

header .master_play .bar .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #800080;
    border-radius: 50%;
    left: 0%;
    top: -3px;
    transition: 1s linear;
}

header .master_play .bar .dot::before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border: 1px solid #800080;
    border-radius: 50%;
    left: -4px;
    top: -4px;
    transition: 1s linear;
    box-shadow: inset 0px 0px 3px #800080;
}

header .master_play .bar input {
    position: absolute;
    width: 100%;
    top: -8px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
}

header .master_play .vol{
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 50px;
    background: rgb(105, 105, 170, .1);
}

header .master_play .vol .bi{
    position: absolute;
    color: #fff;
    font-size: 30px;
    top: -13px;
    left: -33px;
}

header .master_play .vol input {
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
}

header .master_play .vol .vol_bar {
    position: absolute;
    background: #800080;
    width: 0%;
    height: 100%;
}

header .master_play .vol .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #800080;
    border-radius: 50%;
    left: 0%;
    top: -3px;
    transition: 1s linear;
}

header .master_play .vol .dot::before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border: 1px solid #800080;
    border-radius: 50%;
    left: -4px;
    top: -4px;
    transition: 1s linear;
    box-shadow: inset 0px 0px 3px #800080;
}

header .song_side {
    z-index: 2;
}

header .song_side::before {
    content: '';
    position: absolute;
    width: 35%;
    height: 300px;
    background: url('Travis_Scott_-_Utopia.png');
    z-index: -1;
    margin-left: 48%;
    margin-top: 6%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

header .song_side nav {
    width: 90%;
    height: 10%;
    margin: auto;
    /*border: 1px solid #fff;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side nav ul {
    display: flex;
}

header .song_side nav ul li{
    position: relative;
    list-style-type: none;
    font-size: 17px;
    color: #000000;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
    font-weight: bolder;
}

header .song_side nav ul li:hover{
    color: #fff;
}

header .song_side nav ul li:nth-child(1){
    color: #fff;
}

header .song_side nav ul li span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #b50fb5;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

header .song_side nav .search {
    position: relative;
    display: flex;
    align-items: center;
    height: 40%;
    width: 35%;
    padding: 1px 10px;
    border-radius: 20%;
    color: gray;
}

header .song_side nav .search::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #25252577;
    backdrop-filter: blur(5px);
    z-index: -1;
}

header .song_side nav .search .bi {
    font-size: 15px;
    padding: 0px 0px 0px 15px;
}

header .song_side nav .search input {
    background: none;
    outline: none;
    border: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 15px;
}

header .song_side nav .user {
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

header .song_side nav .user img {
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #131312;
}

header .song_side .content {
    width: 90%;
    height: 42%;
    /*border: 1px solid #fff;*/
    margin: auto;
    padding-top: 10px;
}

header .song_side .content h1 {
   font-size: 35px;
   font-weight: 600;
   color: #000000;
}

header .song_side .content p{
    font-size: 18px;
    font-weight: 400;
    color: #171715;
    margin: 5px;
 }

 header .song_side .content .buttons{
    margin-top: 15px;
 }

 header .song_side .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #b50fb5;
    outline: none;
    border-radius: 20px;
    background: #b50fb5;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
 }

 header .song_side .content .buttons button:hover{
    transform: scale(1.1);
    background: #800080;
    border: #800080;
    transition: 0.1s linear;
 }

 header .song_side .content .buttons button:nth-child(2){
    background: #800080;
    border: #800080;
    transition: 0.1s linear;
 }

 header .song_side .content .buttons button:nth-child(2):hover{
    background: #b50fb5;
    border: #b50fb5;
    transition: 0.1s linear;
 }

 header .song_side .popular_song {
    width: 90%;
    height: auto;
    border: 1px solid #fff;
    margin: auto;
    margin-top: 25px;
 }

 header .song_side .popular_song .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    font-size: 22px;
 }

 header .song_side .popular_song .h4 .bi {
    cursor: pointer;
    color: #000000;
    transition: .3s linear;
    font-size: 40px;
 }

 header .song_side .popular_song .h4 .bi:hover {
    color: #fff
 }

 header .song_side .popular_song .pop_song{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
 }

 header .song_side .popular_song .pop_song li{
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
 }

 header .song_side .popular_song .pop_song li:hover{
    background: #800080;
 }

 header .song_side .popular_song .pop_song li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 header .song_side .popular_song .pop_song li .img_play img{
    width: 100%;
    height: 100%;
 }

 header .song_side .popular_song .pop_song li .img_play .bi{
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    transition: .3s linear;
    opacity: 0;
 }

 header .song_side .popular_song .pop_song li .img_play:hover .bi{
    opacity: 1;
 }
